<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8"/>
	<link rel="stylesheet" th:href="@{/CSS/style.css}" href="../CSS/style.css">
	<title>Cart Page</title>
</head>
<body>
	<div class = "container">
		<ul id = "menu">
			<li><a th:href="@{/GoToHome}">Home</a></li>
			<li><a th:href="@{/GoToCart}">Cart</a></li>
			<li><a th:href="@{/GoToOrders}">Orders</a></li>
			<li><a th:href="@{/Logout}">Logout</a></li>
		</ul>
	</div>
	
	
	<h1 class="title">Your cart: </h1>
	

	<br>
	
	<div class = "container">
		<table border = "1">
		<thead>
			<tr><th>Supplier code</th>
				<th>Supplier name</th>
				<th>Total price</th>
				<th>Shipping price</th>
		</thead>
		
		<tbody >
			<div th:each="cartSupplier : ${cart}">
				<tr>
	     			<td th:text="${cartSupplier.code}">code</td>
	     			<td th:text="${cartSupplier.name}">name</td>
	     			<td th:text="${cartSupplier.totalPrice}">total price</td>
	     			<td th:text="${cartSupplier.shippingPrice}">shipping price</td>
	     			<td>
		     			<form action="#" th:action="@{/CreateOrder}" method="POST">
		     				<button type="submit" name="supplier_code" value="${cartSupplier.code}">Order</button>
		     			</form>
	     			</td>
	    		</tr>
	    		<tr>
	    			<td colspan="5">
						<ul th:each="code : ${cartSupplier.prodCode}, name : ${cartSupplier.prodName}, counter : ${cartSupplier.prodCounter}">
							<li>
								<p th:text="${counter.value}">quantity </p><p> x </p>
								<p th:text="${code}">product code </p>
								<p th:text="${name}">product name</p>
							</li>
						</ul>
	    			</td>
	    		</tr>
			</div>
		</tbody>
	</table>
	</div>
	
	
</body>
</html>