<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8"/>
	<link rel="stylesheet" th:href="@{/CSS/style.css}" href="../CSS/style.css">
	<title>Home page</title>
</head>
<body>
	<div class = "container">
		<ul id = "menu">
			<li class = "active"><a th:href="@{/GoToHome}">Home</a></li>
			<li><a th:href="@{/GoToCart}">Cart</a></li>
			<li><a th:href="@{/GoToOrders}">Orders</a></li>
			<li><a th:href="@{/Logout}">Logout</a></li>
		</ul>
	</div>
	
	
	
		<h1 class="title">Welcome to the Home Page</h1>
		<br>
	
	
	<div class="container">
		<form action="#" th:action="@{/GoToResults}" method="POST">
			Search for a product: <input type="text" name="key_word"> 
 			<input  type="submit" value="Search" >
			</form>
	</div>

	<br>
	
	<p th:class="error" th:text="${error}"></p>
	
	<div class="container">
			<table border = "1" th:if="${error} == null">
			<thead>
				<tr><th>Product code</th>
					<th>Product name</th>
					<th>Description</th>
					<th>Category</th>
					<th>Photo</th></tr>
			</thead>
			<tbody >
    			<tr th:each="product : ${products}">
     				<td th:text="${product.code}">code</td>  
     				<td th:text="${product.name}">name</td>
     				<td th:text="${product.description}">description</td>
     				<td th:text="${product.category}">category</td>
     				<td class="image-cell">
     					<img th:src="@{/GetImage(image = ${product.photo})}" alt="image">
     				</td>
    			</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>