<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8"/>
	<title>Order page</title>
</head>
<body>
	<ul id = "menu">
		<li><a th:href="@{/GoToHome}">Home</a></li>
		<li><a th:href="@{/GoToCart}">Cart</a></li>
		<li><a th:href="@{/GoToOrders}">Orders</a></li>
		<li><a th:href="@{/Logout}">Logout</a></li>
	</ul>
	
	<h1>Your order: </h1>
	<br>
	
	<table border = "1">
		<thead>
			<tr><th>Order code</th>
				<th>Supplier name</th>
				<th>Total price</th>
				<th>Date</th>
				<th>Address</th>
		</thead>
		
		<tbody >
			<div th:each="order : ${orders}">
				<tr>
	     			<td th:text="${order.code}">code</td>
	     			<td th:text="${order.supplierName}">supplierName</td>
	     			<td th:text="${order.totalPrice}">total price</td>
	     			<td th:text="${order.date}">date</td>
	     			<td th:text="${order.address}">address</td>
	    		</tr>
	    		<tr>
	    			<td colspan="5">
	    				<ul th:each="product : ${order.products}" th:each="quantity : ${order.quantity}">
							<li>
								<p th:text="${quantity.value}">quantity </p><p> x </p>
								<p th:text="${product.code}">product code </p>
								<p th:text="${product.name}">product name</p>
							</li>
						</ul>
	    			</td>
	    		</tr>
			</div>
		</tbody>
	</table>
</body>
</html>