<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8"/>
	<link rel="stylesheet" th:href="@{/CSS/style.css}" href="../CSS/style.css">
	<title>Results page</title>
</head>
<body>
	<div class = "container">
		<ul id = "menu">
			<li><a th:href="@{/GoToHome}">Home</a></li>
			<li><a th:href="@{/GoToCart}">Cart</a></li>
			<li><a th:href="@{/GoToOrder}">Orders</a></li>
			<li><a th:href="@{/Logout}">Logout</a></li>
		</ul>
	</div>

	
	<br>
	
	<div class = "container">
		<form action="#" th:action="@{/GoToResults}" method="POST">
			Search for a product: <input type="text" name="key_word"> 
	 		<input type="submit" value="Search">
		</form>
	</div>
	
	
	<br>
	
	<p th:class="error" th:text="${error}"></p>
	
	<div class = "container" >
		<table border = "1" th:if="${error} == null">
			<thead>
				<tr><th>Product code</th>
					<th>Product name</th>
					<th>Minimum price</th>
			</thead>
		
			<tbody >
				<div th:each="product : ${products}">
	    			<tr>
	     				<td>
	     					<a th:href="@{/ProductDetails(product_code=${product.code}, key_word=${keyWord} )}">
	     						<p th:text="${product.code}"></p>
	     					</a>
	     				</td>
	     				<td>
	     					<a th:href="@{/ProductDetails(product_code=${product.code}, key_word=${keyWord} )}">
	     						<p th:text="${product.name}"></p>
	     					</a>
	     				</td>
	     				<td th:text="${product.minimumPrice}"></td>
	    			</tr>
	    		 	<tr th:if="${not #lists.isEmpty(product.suppliers)}">
	    		 		
	    		 		<td>
	    		 			<b>description:</b>
	    		 			<p th:text="${product.description}"></p>
	    		 		</td>
     					<td>
     						<b>category:</b>
     						<p th:text="${product.category}"></p>
     					</td>
     					<td class="image-cell">
     						<img th:src="@{/GetImage(image = ${product.photo})}" alt="image">
     					</td>
     					
	    		 	</tr>									
     				<tr th:each="supplier : ${product.suppliers}">
     					<td colspan="3">
     						<p>
     							<b>Supplier name: </b><span th:text="${supplier.name}"></span>
     						</p>
     						<p>
	     						<b>score: </b><span th:text="${supplier.score}"></span>
	     						<b>  price: </b><span th:text="${supplier.unitaryPrice}"></span><span>$</span>
	     						<b>  Total in cart: </b><span th:text="${supplier.totalProductsPrice}"></span><span>$</span>
     						</p>
     						<p>
     							<b>Product already in cart: </b><span th:text="${supplier.totalNumber}"></span>
     						</p>
     						<p>
     							<b>Minimum price for free shipping: </b><span th:text="${supplier.freeShipping}"></span><span>$</span>
     						</p>
     						<b>Spending ranges: </b>
    						<ul>
								<li th:each="range : ${supplier.spendingRanges}">
									<div th:if="${range.minimumN} != ${range.maximumN}">
										<p><span th:text="${range.minimumN}"></span><span> - </span><span th:text="${range.maximumN}"></span><span> products = </span><span th:text="${range.price}"></span><span>$</span></p>
									</div>
									<div th:if="${range.minimumN} == ${range.maximumN}">
										<p><span>More than </span><span th:text="${range.minimumN}"></span><span> products = </span><span th:text="${range.price}"></span><span>$</span></p>
									</div>
								</li>
							</ul>
							
     						<form action="#" th:action="@{/CheckQuantity(product_code=${product.code}, supplier_code=${supplier.code})}" method="POST">
								<input type="number" name="quantity">
						 		<input type="submit" value="Add to Cart">
							</form>
						
     					</td>
     				</tr>	
	     		
    				</div>
			</tbody>
		</table>
	</div>
</body>
</html>